.product{
    position: relative;
    top: 220px;
    width: 80%;
    min-height: 400px;
    left: 10%;
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 220px;
    grid-template: 4px;
}
.product-item{
    background-color: #fff;
}
.product-item:hover{
    border: 1px red solid;
}
.product-item-img {
    width: 100%;
    height: 70%;
    position: relative;
}
.product-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-item-description{
    position: relative;
    width: 100%;
    height: 15%;
    font-size: 10px;
    overflow: hidden;
}
.product-item-description span{
   position: relative;
   left: 5px;
    right: 5px;
    text-align:left;
}
.product-item-price{
    position: relative;
    width: 100%;
    height: 15%;
    font-size: 13px;
    color: orangered;
    align-items: center;
    display: block;
}
.product-item-price p{
    position: absolute;
    font-size: 10px;
    left: 10px;
    text-align: center;
    top: 2px;
}
.product-item-price span{
    position: absolute;
    left: 20px;
    font-size: 12px;

}
.product-item-price small{
    color: gray;
    font-size: 9px;
    position: absolute;
    top: 5px;
    right: 10px;
}
.product-item a{
    text-decoration: none;
    color: black;
}